<div class="py-4 text-center">
    <h2>Routing</h2>
    <p class="lead">
        Routing in .NET Core provides a flexible and powerful mechanism for defining URL patterns, mapping requests to endpoints,
        and generating URLs in web applications. Understanding routing is essential for building well-structured and maintainable web APIs and MVC applications.
        There are mainly two types of routing: <strong>Convention-based</strong> typically configured during application startup in <strong><em>Startup.cs</em></strong>
        and <strong>Attribute-based</strong> where routes are defined directly on Controllers and Actions Methods using Route Attributes, check the examples inside the 
        Controller folder.
    </p>
</div>

<div class="py-4">
    <p class="lead">
        Swagger is configured here: <a href="/swagger/index.html" style="display: inline" class="nav-item nav-link active">swagger/index.html</a>
    </p>
    <p class="lead">
        /about
    </p>
</div>

